Source: dosage
Section: net
Priority: optional
Maintainer: Bastian Kleineidam <calvin@debian.org>
Build-Depends: debhelper (>= 9),
               python-all (>= 2.7)
X-Python-Version: >= 2.7
Standards-Version: 3.9.3

Package: dosage
Architecture: all
Depends: python-requests,
         python-optcomplete,
         ${python:Depends},
         ${misc:Depends}
Provides: ${python:Provides}
Description: commandline webcomic downloader and archiver
 Dosage allows webcomics to be downloaded. It can retrieve just the latest
 strip in a comic, catch-up to the last strip downloaded, or download a
 strip for a particular date/index if the webcomic's site layout
 allows it.
